* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}
img{
    max-width: 100%; /*By applying max-width 100% on all the images our our page , all th eimages will become reposnive they will 
    never go big thna their size but they will shrink accordingly*/
}
.row {
    display: flex;
    justify-content: space-between; /*space between is a very handful property and if oftenly used if puts the available in between of our components
    also but we make sure that the elements width is not set to 100% otherwise there will be no spacing in between*/
}
.section1{
    background-color: rgb(33, 62, 75);
}
.parent-of-hero,.sec2-body {
    width: 100%;
    max-width: 1400px;
    padding: 7rem 5rem;
    margin: 0 auto;
}

.content,.sec2-div1 {
    width: 60%;
}

.content>h1 {
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: .5em;
}

.content>p {
    color: white;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 3em;
}

.content>button {
    background-color: rgb(46, 192, 221);
    border: none;
    outline: none;
    color: rgb(33, 62, 75);
    font-size: 1.2rem;
    font-weight: 900;
    padding: 0.75em 2em;
    border-radius: 2.5em;
}

.hero__image {
    width: 30%;
}
.sec2-body{
    padding: 3em 5em;
}
.sec2-div1{
    width: 60%;
    padding: 3rem 0;
}
.sec2-div1-head{
    color: #136C72;
    font-size: 2.3rem;
}
.sec2-div1-para{
    font-size: 1.1rem;
    color: #3A3A3A;
    line-height: 1.5em;
}
.left-child + .left-child{
    margin-top: 1em;
}
.sec2-div2{
    color: white;
    background-color: #136C72;
    text-align: center;
    width: 30%;
    padding: 3rem 2rem;
}
.sec2-div2-para{
  margin-top: 1.5em;
  line-height: 1.5em;
  font-size: 1rem;
  font-weight: regular;
}
.div2-child + .div2-child{
    margin-top: 3em;
}
@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    .content {
        width: 100%;
    }
    .parent-of-hero {
        padding: 4rem 1.5rem;
    }
}