* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}
/* section 1 styling start */
main{
    background-color: #F3EED9;
    padding: 0em 3em;
}
.container{
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}
.main--content{
    width: 100%;
    max-width: 660px;
    padding: 2em 0em;
    text-align: center;
    margin: 0 auto;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.main--text{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5em;
}
.main--head{
    font-family: Playfair;
    color: #824936;
    font-size: 3.5rem;
}
/* section 1 styling ends */

/* section 2 styling starts */
section{
    padding: 0 3em;
}
.quality__designs{
    text-align: center;
    padding: 7em 0;
}
.design--head{
    margin-bottom: 2.5em;
}
.design--head p,.article--head{
    font-family: Playfair;
    color: #824936;
    font-size: 2.5rem;
    font-weight: 900;
}
.designs--desciptions{
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: #222C2A;
    width: 100%;
}
.designs--desciptions p, .article--text {
    width: 48%;
    line-height: 1.5em;
    font-size: 1.1rem;
}

/* section 2 styling ends */

/* section 3 styling starts */
img{
    max-width: 100%;
}
.article__first{
    background-color: #222C2A;
    padding: 5em 3em;
}
.article{
    display: flex;
    justify-content: space-between;
}
.article--content,.article--image{
    width: 47%;
    color: white;
}
.article--head {
    color: white;
    margin-bottom: 0.5em;
}
.article--text{
    width: 100%;
}
.article--image img{
    width: 100%;
}

/* section 3 styling ends */

/* section 4 styling starts */
.article__second{
    background-color: #824936;
    padding: 5em 3em;
}
/* section 4 styling ends */
@media screen and (max-width: 600px){
    html{
        font-size: 14px;
    }
    .article{
        flex-direction: column;
    }
    .article--content,.article--image{
        width: 100%;
        margin-bottom: 1em;
    }
    .designs--desciptions{
        flex-direction: column;
    }
    .designs--desciptions p, .article--text {
        width: 100%;
    }
    .designs--desciptions p + .designs--desciptions p{
        margin-top: 1em;
    }
}